@media screen and (max-width: 1400px) {
  .navigation__flex,
  .h1__header,
  .h2__header,
  .toggle-switch,
  .h2__section {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 960px) {
  .h1__header {
    font-size: 40px;
    max-width: 530px;
    line-height: 120%;
    margin-bottom: 19px;
  }
  .h2__header {
    font-size: 20px;
    line-height: 120%;
    width: 350px;
  }
  .h2-two {
    width: 250px;
    margin-bottom: 49px;
  }
  .h2__section {
    font-size: 30px;
    max-width: 560px;
  }
  .logo {
    display: none;
  }
  .orangeLogo {
    display: block;
    margin-bottom: 9px;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 65px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 6;
  }

  .buy-button,
  .ul__flex {
    display: none;
  }
  .imgBike {
    width: 1243px;
    height: 849px;
    top: -200px;
    left: 2.5%;
  }
  .navigation__flex {
    margin-bottom: 106px;
  }
  .header {
    height: 639px;
  }
  .ellipseButton {
    left: 0px;
  }
}
@media screen and (max-width: 320px) {
  .orangeLogo {
    width: 49.08px;
    height: 28.7;
  }
  .burger-menu {
    width: 45px;
    height: 45px;
  }
  .navigation__flex {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    margin-bottom: 311px;
  }
  .orangeLogo {
    margin-bottom: 5px;
  }
  .imgBike {
    width: 847.81px;
    height: 579px;
    left: -42.5%;
  }
  .h1__header {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;
    max-width: 250px;
  }
  .h2__header {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    width: 270px;
  }
  .h2-two {
    width: 200px;
    margin-bottom: 32px;
  }
  .toggle-switch {
    width: 279px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .h2__section {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    line-height: 120%;
    font-size: 25px;
  }
  .header {
    height: 713px;
  }
}
