html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  background-color: #222;
  overflow-x: hidden;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header {
  height: 880px;
}
.navigation__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 126px;
  margin-left: 120px;
  margin-right: 120px;
}
.logo-nav__flex {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 80px;
}
.ul__flex {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 39px;
  z-index: 6;
}
.logo-nav__flex li,
.logo-nav__flex a {
  text-decoration: none;
  color: rgb(241, 241, 241);
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1%;
}
.logo {
  width: 60px;
  height: 39px;
  cursor: pointer;
}
.orangeLogo {
  display: none;
  width: 60px;
  height: 36.67px;
}
.h1__header {
  font-family: Gilroy;
  font-size: 80px;
  font-weight: 600;
  line-height: 100%; /* 80px */
  max-width: 1030px;
  color: #f1f1f1;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 120px;
  margin-right: 120px;
  position: relative; /* Позиционируем относительно контейнера */
  z-index: 6; /* Разместить перед изображением */
}
.h2__header {
  font-family: Gilroy;
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
  width: 520px;
  color: rgb(255, 76, 13);
  margin: 0;
  margin-left: 120px;
  margin-right: 120px;
  position: relative; /* Позиционируем относительно контейнера */
  z-index: 6; /* Разместить перед изображением */
}
.h2-two {
  width: 350px;
  margin-bottom: 60px;
  margin-left: 120px;
  margin-right: 120px;
  position: relative; /* Позиционируем относительно контейнера */
  z-index: 6; /* Разместить перед изображением */
}
.buy-button {
  width: 122px;
  height: 54px;
  border-radius: 65px;
  background-color: rgb(241, 241, 241);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  position: relative; /* Позиционируем относительно контейнера */
  z-index: 6; /* Разместить перед изображением */
  border: none;
}
.imgBike {
  position: absolute; /* Позволяет располагать изображение в нужном месте */
  top: -444px;
  /* left: 233px; */
  left: 16.5%;
  z-index: 5; /* Разместить позади текста */
}
.ellipseFaq {
  position: absolute;
  z-index: 4;
  top: 1px;
  left: 345px;
}
.ellipseButton {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 708px;
}
.ellipseBike {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 486px;
}

/* Стиль переключателя */
.toggle-switch {
  display: inline-flex;
  border: 2px solid #fff;
  border-radius: 25px;
  overflow: hidden;
  width: 247px;
  height: 53px;
  margin-left: 120px;
  margin-right: 120px;
  position: relative;
  z-index: 6;
}
.toggle-switch input[type="radio"] {
  display: none;
}
.toggle-switch label {
  width: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Белая кнопка по умолчанию */
.white {
  background-color: transparent;
  color: white;
  border-radius: 25px 25px 25px 25px;
  font-size: 16px;
}
/* Черная кнопка по умолчанию */
.black {
  background-color: transparent;
  color: white;
  border-radius: 25px 25px 25px 25px;
}
/* Когда выбрана белая кнопка */
input[type="radio"]#white:checked + label.white {
  background-color: white;
  color: black;
}
/* Когда выбрана черная кнопка */
input[type="radio"]#black:checked + label.black {
  background-color: white;
  color: black;
}
/* Когда выбрана черная кнопка - Белая становится черной */
input[type="radio"]#black:checked ~ label.white {
  background-color: transparent; /* Белая кнопка становится черной */
  color: white; /* Текст становится белым */
}

/* Когда выбрана белая кнопка - Черная остается прежней */
input[type="radio"]#white:checked ~ label.black {
  background-color: transparent;
  color: white;
}

/* burger-menu */
.burger-menu {
  display: none;
  background-color: #f1f1f1;
  position: relative; /* Позиционируем относительно контейнера */
  z-index: 2; /* Разместить перед изображением */
}

.burger-icon {
  width: 20px;
  height: 1px;
  background-color: rgb(13, 28, 46);
  margin: 2px 0;
}

.menu-modal {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
header .menu-modal li,
.menu-modal a {
  text-decoration: none;
  color: #263238;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu-modal ul {
  list-style: none;
  padding: 0;
}

.menu-modal li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.menu-modal li:last-child {
  border-bottom: none;
}

/* sectionBattery */
.sectionBattery {
}
.h2__section {
  font-size: 45px;
  font-weight: 500;
  line-height: 110%;
  color: rgb(241, 241, 241);
  max-width: 900px;
  margin-left: 120px;
  margin-right: 120px;
}
